@import "@catppuccin/palette/css/catppuccin.css";
@import "./components/notification.css";
@import "./widgets/bar/style.css";
@import "./widgets/launcher/style.css";
@import "./widgets/notifications/style.css";
@import "./widgets/control_center/style.css";
@import "./widgets/osd/style.css";

button {
	background-image: none;
	background-color: var(--ctp-mocha-base);
	&:hover {
		background-color: var(--ctp-mocha-surface2);
	}
}
